#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        /* =========================
         * Layer 0: Base
         * ========================= */

        base_layer {
            bindings = <
&kp LC(SPACE)  &kp N1  &kp N2    &kp N3  &kp N4    &kp N5                                 &kp N6  &kp N7    &kp N8     &kp N9    &kp N0     &kp BSPC
&mo 2          &kp Q   &kp W     &kp E   &kp R     &kp T                                  &kp Y   &kp U     &kp I      &kp O     &kp P      &kp DEL
&mo 3          &kp A   &kp S     &kp D   &kp F     &kp G        &trans     &trans         &kp H   &kp J     &kp K      &kp L     &kp SEMI   &kp SQT
&kp LSHFT      &kp Z   &kp X     &kp C   &kp V     &kp B        &kp SPACE  &kp ENTER      &kp N   &kp M     &kp COMMA  &kp DOT   &kp FSLH   &kp QMARK
&kp LCTRL      &none   &kp LALT  &mo 4   &kp BSPC  &lt 2 SPACE  &kp ENTER  &kp LS(ENTER)  &kp AT  &kp BSPC  &kp RALT   &kp RGUI  &kp RCTRL  &none
            >;
        };

        mouse_layer {
            bindings = <
&trans  &trans        &trans          &trans          &trans           &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &msc SCRL_UP  &msc SCRL_DOWN  &msc SCRL_LEFT  &msc SCRL_RIGHT  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &mkp LCLK     &mkp RCLK       &mkp MCLK       &mkp MB4         &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(X)     &kp LC(C)       &kp LC(V)       &kp LC(Z)        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans          &trans          &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        lower_layer {
            bindings = <
&trans  &trans    &trans    &trans    &trans     &trans                     &trans     &trans     &trans     &trans    &trans     &trans
&trans  &kp EXCL  &kp AT    &kp HASH  &kp DLLR   &kp PRCNT                  &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR   &trans
&trans  &kp LPAR  &kp LBKT  &kp AT    &kp RBKT   &kp RPAR   &trans  &trans  &kp MINUS  &kp UNDER  &kp EQUAL  &kp PLUS  &kp COLON  &trans
&trans  &kp EXCL  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &trans  &trans  &kp QMARK  &kp BSLH   &kp PIPE   &kp LBRC  &kp RBRC   &trans
&trans  &trans    &trans    &trans    &trans     &trans     &trans  &trans  &kp TAB    &kp DEL    &trans     &trans    &trans     &trans
            >;
        };

        raise_layer {
            bindings = <
&trans  &trans   &trans   &trans        &trans        &trans                      &trans   &trans   &trans  &trans     &trans     &trans
&trans  &kp F1   &kp F2   &kp F3        &kp F4        &kp F5                      &kp N7   &kp N8   &kp N9  &kp MINUS  &kp EQUAL  &trans
&trans  &kp F6   &kp F7   &kp F8        &kp F9        &kp F10     &trans  &trans  &kp N4   &kp N5   &kp N6  &kp LBKT   &kp RBKT   &trans
&trans  &kp F11  &kp F12  &out OUT_USB  &out OUT_BLE  &bt BT_NXT  &trans  &trans  &kp N1   &kp N2   &kp N3  &kp N0     &kp DOT    &trans
&trans  &trans   &trans   &trans        &trans        &trans      &trans  &trans  &kp TAB  &kp DEL  &trans  &trans     &trans     &trans
            >;
        };

        nav_layer {
            bindings = <
&trans  &trans       &trans        &trans         &trans     &trans                     &trans    &trans     &trans     &trans     &trans     &trans
&trans  &kp LA(TAB)  &kp LG(LEFT)  &kp LG(RIGHT)  &kp LG(D)  &kp LC(S)                  &kp HOME  &kp PG_UP  &kp PG_DN  &kp END    &kp ESC    &trans
&trans  &kp LC(Z)    &kp LC(Y)     &kp LC(C)      &kp LC(V)  &kp LC(A)  &trans  &trans  &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp K_APP  &trans
&trans  &kp LC(X)    &kp LC(S)     &kp ESC        &kp TAB    &kp DEL    &trans  &trans  &trans    &trans     &trans     &trans     &trans     &trans
&trans  &trans       &trans        &trans         &trans     &trans     &trans  &trans  &trans    &trans     &trans     &trans     &trans     &trans
            >;
        };
    };
};
